name: "lint and test"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-and-test:
    uses: esclient/tools/.github/workflows/lint-and-test-python.yml@main
    with:
      python-version: '3.13.7'
    secrets: inherit
